<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Nombres</label>
<input type="text" class="form-control" formControlName="nombres" #nombres/>
</div>
<div *ngIf="angForm.controls['nombres'].invalid && (angForm.controls['nombres'].dirty || angForm.controls['nombres'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['nombres'].errors.required">
Nombres es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Apellidos</label>
<input type="text" class="form-control" formControlName="apellidos" #apellidos/>
</div>
<div *ngIf="angForm.controls['apellidos'].invalid && (angForm.controls['apellidos'].dirty || angForm.controls['apellidos'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['apellidos'].errors.required">
Apellidos es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Email</label>
<input type="email" class="form-control" formControlName="email" #email/>
</div>
<div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['email'].errors.required">
Email es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Telefono</label>
<input type="number" class="form-control" formControlName="telefono" #telefono/>
</div>
<div *ngIf="angForm.controls['telefono'].invalid && (angForm.controls['telefono'].dirty || angForm.controls['telefono'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['telefono'].errors.required">
Telefono es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="addResponsable(nombres.value, apellidos.value, email.value, telefono.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary">Crear Responsable</button>
  </div>

    </form>
  </div>
</div>