<ng2-slim-loading-bar color="red"></ng2-slim-loading-bar>

 <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
     <li class="nav-item">
<a routerLink="actividades/create" class="nav-link" routerLinkActive="active">
Crear Actividades
</a>
</li>
<li class="nav-item">
<a routerLink="actividades" class="nav-link" routerLinkActive="active">
Actividades
</a>
</li> 
<li class="nav-item">
<a routerLink="responsable/create" class="nav-link" routerLinkActive="active">
Crear Responsable
</a>
</li>
<li class="nav-item">
<a routerLink="responsable" class="nav-link" routerLinkActive="active">
Responsable
</a>
</li> 

    </ul>
  </div>
</nav>
<br />
<body >
    
<div class="container">
   <h3>Prueba Tecnica para diseñador OAS</h3>
   <p>Desarrollo de un entorno dockerizado para el manejo de dos entidades</p>
   <p>Desarrollador: Ing.Fabian Barreto</p>
 </div>
<div class="container">
  <router-outlet></router-outlet>
</div>
</body>