
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Nombres</td>
 <td>Apellidos</td>
 <td>Email</td>
 <td>Telefono</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let responsable of responsable">
<td>{{ responsable.nombres}}</td>
<td>{{ responsable.apellidos}}</td>
<td>{{ responsable.email}}</td>
<td>{{ responsable.telefono}}</td>
<td><a [routerLink]="['edit', responsable._id]" class="btn btn-primary">Editar</a>&nbsp;&nbsp;<a (click) = "deleteResponsable(responsable._id)" class="btn btn-danger">Borrar</a></td>
         
      </tr>
  </tbody>
</table>
