<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Fecha_creacion</label>
<input type="date" class="form-control" formControlName="fecha_creacion" #fecha_creacion [(ngModel)] = "actividades.fecha_creacion"/>
</div>
<div *ngIf="angForm.controls['fecha_creacion'].invalid && (angForm.controls['fecha_creacion'].dirty || angForm.controls['fecha_creacion'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['fecha_creacion'].errors.required">
Fecha_creacion es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Fecha_limite</label>
<input type="date" class="form-control" formControlName="fecha_limite" #fecha_limite [(ngModel)] = "actividades.fecha_limite"/>
</div>
<div *ngIf="angForm.controls['fecha_limite'].invalid && (angForm.controls['fecha_limite'].dirty || angForm.controls['fecha_limite'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['fecha_limite'].errors.required">
Fecha_limite es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Responsable</label>
<select class="form-control" formControlName="responsable" #responsable >
<option  [value]="responsable._id" *ngFor="let responsable of Responsable" >{{responsable.nombres}} {{responsable.apellidos}}</option>
</select>
</div>
<div *ngIf="angForm.controls['responsable'].invalid && (angForm.controls['responsable'].dirty || angForm.controls['responsable'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['responsable'].errors.required">
Responsable es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Descripcion</label>
<input type="text" class="form-control" formControlName="descripcion" #descripcion [(ngModel)] = "actividades.descripcion"/>
</div>
<div *ngIf="angForm.controls['descripcion'].invalid && (angForm.controls['descripcion'].dirty || angForm.controls['descripcion'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['descripcion'].errors.required">
Descripcion es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Estado</label>
<select class="form-control" formControlName="estado" #estado >
<option>Activo</option>
<option>Inactivo</option>
</select>
</div>
<div *ngIf="angForm.controls['estado'].invalid && (angForm.controls['estado'].dirty || angForm.controls['estado'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['estado'].errors.required">
Estado es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="updateActividades(fecha_creacion.value, fecha_limite.value, responsable.value, descripcion.value, estado.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary"> Actividades</button>
  </div>

    </form>
  </div>
</div>